$base-primary: #f69e6f; // Main action color (orange)
$base-secondary-accent: #e6584f; // Darker orange for hover
$base-tertiary-accent: #cc5045; // Even darker orange for active
$base-highlight-accent: #fdf2e9;
$base-success: #4caf50; // Green for success/action button
$base-success-hover: #43a047; // Darker green for hover
$base-success-active: #388e3c; // Even darker green for active
$base-light-gray: #f9f9f9; // Window background
$base-panel-bg: #ffffff; // Panel background
$base-input-bg: #f9f9f9; //Input fields, checkboxes etc.
$base-border-color: #e0e0e0; // General border color
$base-text-dark: #333333; // Main text color
$base-text-notsodark: #555555;
$base-text-medium: #808080; // Medium gray for hints/disabled
$base-text-light: #a0a0a0; // Lighter gray for drag/drop hint
$base-error: #ff0000; // Error message color
$base-disabled-bg: #cccccc; // Disabled button background

$base-straight-gray: #1d1d1d;
