@import "@/assets/styles/theme.scss";

html, body {
  background: var(--bg);
  color: var(--text);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica,
    Arial, sans-serif;
  font-weight: 300;
  margin: 0;
}



#app {
  margin: 0 auto;
  padding: 2rem 2rem 2rem 2rem;
  font-weight: normal;
}

@media (max-width: 768px) {
  #app {
    padding: 0;
  }
}
