{
  "openapi": "3.1.1",
  "info": {
    "title": "Temp staffing germany",
    "description": "\nThis is the API documentation of Temp Staffing Germany. It provides endpoints for accessing and managing resources related to Candidates, Employees, Companies, Time Management, and more.\n\n#### Authentication\n\n- **OAuth2**: Used for server-to-server authentication. Requires providing relevant scope to be embedded in the access token. All calls using client-credentials flow need to send an additional X-CUSTOMER-ID.\n- **Reference Key**: Used by TSA partners to develop solutions against an individual customer. Can be revoked anytime via the [zvoove Hub](https://hub.zvoove.cloud/).\n\n#### Scopes Information\n\n| Scope         | Description                                                   |\n| ------------- | -------------                                                 |\n| api_gateway                 | Provides access to API Gateway endpoints        |\n| api_gateway:all_customers   | Provides access to all customers                |\n| unity_access:all            | Provides access to ErpDeApi service endpoints |",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.zvoove.cloud",
      "description": "Production environment"
    }
  ],
  "paths": {
    "/temp-staffing-de/v1/absences/types": {
      "get": {
        "tags": [
          "Absences"
        ],
        "summary": "Get all absences types",
        "parameters": [
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsenceResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsenceResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsenceResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/temp-staffing-de/v1/articles/groups": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Get all article groups",
        "parameters": [
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArticleGroupResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArticleGroupResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArticleGroupResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/temp-staffing-de/v1/candidates/{candidateId}/contacts": {
      "get": {
        "tags": [
          "Candidate Contacts"
        ],
        "summary": "Get all candidate contacts by candidate id",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateContactResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateContactResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateContactResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Candidate Contacts"
        ],
        "summary": "Create candidate contacts",
        "description": "Returns created candidate contacts ids",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateCandidateContactsRequest"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateCandidateContactsRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateCandidateContactsRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateCandidateContactsRequest"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true,
        "x-eventcatalog-deprecated-message": "This legacy batch endpoint will be removed. Use POST v2/candidates/{candidateId}/contacts (single contact).\n\nRecommended replacement: **v2/candidates/{candidateId}/contacts**",
        "x-eventcatalog-deprecated-date": "2026-11-21"
      },
      "put": {
        "tags": [
          "Candidate Contacts"
        ],
        "summary": "Update candidate contacts",
        "description": "This legacy batch endpoint will be removed. Use PUT v2/candidates/{candidateId}/contacts/{contactId} (single contact).\n\nDeprecation date: 21.11.2026\n\nRecommended replacement: v2/candidates/{candidateId}/contacts/{contactId}",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateCandidateContactRequest"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateCandidateContactRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateCandidateContactRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateCandidateContactRequest"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true,
        "x-eventcatalog-deprecated-message": "This legacy batch endpoint will be removed. Use PUT v2/candidates/{candidateId}/contacts/{contactId} (single contact).\n\nRecommended replacement: **v2/candidates/{candidateId}/contacts/{contactId}**",
        "x-eventcatalog-deprecated-date": "2026-11-21"
      }
    },
    "/temp-staffing-de/v1/candidates/{candidateId}/contacts/{contactId}": {
      "get": {
        "tags": [
          "Candidate Contacts"
        ],
        "summary": "Get candidate contact details by candidate id and contact id",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateContactResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateContactResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateContactResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/temp-staffing-de/v1/candidates/{candidateId}/contacts/overview": {
      "get": {
        "tags": [
          "Candidate Contacts"
        ],
        "summary": "Get candidate contacts overview by candidate id",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateContactsOverviewResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateContactsOverviewResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateContactsOverviewResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/temp-staffing-de/v1/candidates/contacts/changelog/{lastId}": {
      "get": {
        "tags": [
          "Candidate Contacts"
        ],
        "summary": "Get candidate contacts changelog by last id",
        "parameters": [
          {
            "name": "lastId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PartnerInterfaceCandidateContactChangelogResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PartnerInterfaceCandidateContactChangelogResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PartnerInterfaceCandidateContactChangelogResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/temp-staffing-de/v1/candidates/{candidateId}/contacts/files": {
      "get": {
        "tags": [
          "Candidate Contacts"
        ],
        "summary": "Get candidate contacts files",
        "description": "This is a legacy endpoint that'll be removed. Use v2/candidates/{candidateId}/contacts/files endpoint instead.\n\nDeprecation date: 30.06.2026\n\nRecommended replacement: v2/candidates/{candidateId}/contacts/files",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateContactFileResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateContactFileResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateContactFileResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true,
        "x-eventcatalog-deprecated-message": "This is a legacy endpoint that'll be removed. Use v2/candidates/{candidateId}/contacts/files endpoint instead.\n\nRecommended replacement: **v2/candidates/{candidateId}/contacts/files**",
        "x-eventcatalog-deprecated-date": "2026-06-30"
      },
      "post": {
        "tags": [
          "Candidate Contacts"
        ],
        "summary": "Create candidate contact files",
        "description": "Returns created candidate contact id containing the files",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateCandidateContactsFilesRequest"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateCandidateContactsFilesRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateCandidateContactsFilesRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateCandidateContactsFilesRequest"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "format": "int32"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true,
        "x-eventcatalog-deprecated-message": "This is a legacy endpoint that'll be removed. Use POST v2/candidates/{candidateId}/contacts/files endpoint instead.\n\nRecommended replacement: **v2/candidates/{candidateId}/contacts/files**",
        "x-eventcatalog-deprecated-date": "2026-11-27"
      }
    },
    "/temp-staffing-de/v2/candidates/{candidateId}/contacts/files": {
      "get": {
        "tags": [
          "Candidate Contacts"
        ],
        "summary": "Get candidate contacts files",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateContactFileV2Response"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateContactFileV2Response"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateContactFileV2Response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Candidate Contacts"
        ],
        "summary": "Upload a candidate contact file or scan",
        "description": "Attaches one file or scan to an existing candidate contact (PERSKONT).",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "ContactId",
                  "File",
                  "FileType"
                ],
                "type": "object",
                "properties": {
                  "CandidateId": {
                    "type": "integer",
                    "description": "Candidate identifier (set from route).",
                    "format": "int32"
                  },
                  "ContactId": {
                    "type": "integer",
                    "description": "Personal contact (`PERSKONT.LFDNR`) the file or scan must be attached to.\nTogether with ErpDeApi.Contracts.CandidateContacts.Requests.UploadCandidateContactFileRequest.CandidateId forms the full PERSKONT primary key.",
                    "format": "int32"
                  },
                  "File": {
                    "type": "string",
                    "description": "File to upload.",
                    "contentMediaType": "application/octet-stream"
                  },
                  "Description": {
                    "type": "string",
                    "description": "Optional description (external document note or scan description)."
                  },
                  "DocumentCategoryId": {
                    "type": "string",
                    "description": "Optional document category (files only)."
                  },
                  "ValidFrom": {
                    "type": "string",
                    "description": "Optional validity start (files only).",
                    "format": "date-time"
                  },
                  "ValidTo": {
                    "type": "string",
                    "description": "Optional validity end (files only).",
                    "format": "date-time"
                  },
                  "CreatedAt": {
                    "type": "string",
                    "description": "Optional creation timestamp. Defaults to now.",
                    "format": "date-time"
                  },
                  "Operator": {
                    "type": "string",
                    "description": "Optional operator. Defaults to SYS."
                  },
                  "FileType": {
                    "$ref": "#/components/schemas/DocumentContentType"
                  }
                }
              },
              "encoding": {
                "CandidateId": {
                  "style": "form"
                },
                "ContactId": {
                  "style": "form"
                },
                "File": {
                  "style": "form"
                },
                "Description": {
                  "style": "form"
                },
                "DocumentCategoryId": {
                  "style": "form"
                },
                "ValidFrom": {
                  "style": "form"
                },
                "ValidTo": {
                  "style": "form"
                },
                "CreatedAt": {
                  "style": "form"
                },
                "Operator": {
                  "style": "form"
                },
                "FileType": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UploadCandidateContactFileResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadCandidateContactFileResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadCandidateContactFileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/temp-staffing-de/v2/candidates/{candidateId}/contacts": {
      "post": {
        "tags": [
          "Candidate Contacts"
        ],
        "summary": "Create a candidate contact",
        "description": "Creates a single contact for the candidate. Returns the new contact id.",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCandidateContactV2Request"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCandidateContactV2Request"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCandidateContactV2Request"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCandidateContactV2Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/temp-staffing-de/v2/candidates/{candidateId}/contacts/{contactId}": {
      "put": {
        "tags": [
          "Candidate Contacts"
        ],
        "summary": "Update a candidate contact",
        "description": "Replaces all mutable fields on the specified candidate contact. Omitted reminderDate and per-reminder date values are set to the current Europe/Berlin time.",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateContactV2Request"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateContactV2Request"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateContactV2Request"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateContactV2Request"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/temp-staffing-de/v1/candidates": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get all candidates",
        "parameters": [
          {
            "name": "WithoutCandidateGuid",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CreatedAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "examples": [
                "2024-10-17"
              ]
            },
            "examples": {
              "default": {
                "value": "2024-10-17"
              }
            }
          },
          {
            "name": "OfficeIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "examples": [
                [
                  1,
                  2,
                  3
                ]
              ]
            },
            "examples": {
              "default": {
                "value": [
                  1,
                  2,
                  3
                ]
              }
            }
          },
          {
            "name": "Statuses",
            "in": "query",
            "description": "Filter by one or more candidate statuses. When omitted, defaults to active candidates (Applicant).\nAllowed values: Applicant, CompletedApplicant.\nData consent is always validated regardless of the chosen status.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PersonStatus"
              },
              "examples": [
                [
                  "Applicant",
                  "CompletedApplicant"
                ]
              ]
            },
            "examples": {
              "default": {
                "value": [
                  "Applicant",
                  "CompletedApplicant"
                ]
              }
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateListResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateListResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateListResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/temp-staffing-de/v1/candidates/{id}": {
      "put": {
        "tags": [
          "Candidates"
        ],
        "summary": "Update candidate by id",
        "description": "This is legacy endpoint that'll be removed. Use v2/candidates endpoint instead.\n\nDeprecation date: 12.03.2026\n\nRecommended replacement: v2/candidates/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true,
        "x-eventcatalog-deprecated-message": "This is legacy endpoint that'll be removed. Use v2/candidates endpoint instead.\n\nRecommended replacement: **v2/candidates/{id}**",
        "x-eventcatalog-deprecated-date": "2026-03-12"
      },
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get candidate by id",
        "description": "This is legacy endpoint that'll be removed. Use v2/candidates/{id} endpoint instead.\n\nDeprecation date: 12.03.2026\n\nRecommended replacement: v2/candidates/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true,
        "x-eventcatalog-deprecated-message": "This is legacy endpoint that'll be removed. Use v2/candidates/{id} endpoint instead.\n\nRecommended replacement: **v2/candidates/{id}**",
        "x-eventcatalog-deprecated-date": "2026-03-12"
      }
    },
    "/temp-staffing-de/v1/candidates/{candidateId}/files": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get candidate files by id",
        "description": "This is legacy endpoint that'll be removed. Use v2/candidates/{candidateId}/documents endpoint instead.\n\nDeprecation date: 30.07.2026\n\nRecommended replacement: v2/candidates/{candidateId}/documents",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateFileResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateFileResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateFileResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true,
        "x-eventcatalog-deprecated-message": "This is legacy endpoint that'll be removed. Use v2/candidates/{candidateId}/documents endpoint instead.\n\nRecommended replacement: **v2/candidates/{candidateId}/documents**",
        "x-eventcatalog-deprecated-date": "2026-07-30"
      }
    },
    "/temp-staffing-de/v1/candidates/{candidateId}/scans": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get candidate scans by id",
        "description": "This is legacy endpoint that'll be removed. Use v2/candidates/{candidateId}/documents endpoint instead.\n\nDeprecation date: 30.06.2026\n\nRecommended replacement: v2/candidates/{candidateId}/documents",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateScansResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateScansResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CandidateScansResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true,
        "x-eventcatalog-deprecated-message": "This is legacy endpoint that'll be removed. Use v2/candidates/{candidateId}/documents endpoint instead.\n\nRecommended replacement: **v2/candidates/{candidateId}/documents**",
        "x-eventcatalog-deprecated-date": "2026-06-30"
      }
    },
    "/temp-staffing-de/v1/candidates/{candidateId}/drivers-licenses": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get all driver's licenses for a candidate",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateDriversLicenseResponsePagedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateDriversLicenseResponsePagedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateDriversLicenseResponsePagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/temp-staffing-de/v1/candidates/changelog": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get candidate changelog",
        "description": "Returns changelog entries for candidates. Date range (from) is required; to, lastId and onlyLatestPerCandidate are optional.",
        "parameters": [
          {
            "name": "From",
            "in": "query",
            "description": "Earliest date of changelog entries",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "To",
            "in": "query",
            "description": "Latest date of changelog entries",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "OnlyLatestPerCandidate",
            "in": "query",
            "description": "if true, only return the latest changelog entry per candidate; otherwise, return all changelog entries",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CandidateIds",
            "in": "query",
            "description": "The candidate ids for which to return changelog entries; if not set, return entries for all candidates",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "LastId",
            "in": "query",
            "description": "Return changelog entries with Id greater than this value (for incremental sync)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "On-Prem max pageSize = 10. On-Saas max pageSize = 20.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateChangelogResponsePagedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateChangelogResponsePagedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateChangelogResponsePagedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true,
        "x-eventcatalog-deprecated-message": "This is legacy endpoint that'll be removed. Use v3/candidates/changelog endpoint instead.\n\nRecommended replacement: **v3/candidates/changelog**",
        "x-eventcatalog-deprecated-date": "2026-04-19"
      }
    },
    "/temp-staffing-de/v1/candidates/changelog/{lastId}": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get candidate changelog by last id",
        "description": "This is legacy endpoint that'll be removed. Use v3/candidates/changelog endpoint instead.\n\nDeprecation date: 19.04.2026\n\nRecommended replacement: v3/candidates/changelog",
        "parameters": [
          {
            "name": "lastId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PartnerInterfaceCandidateChangelogResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PartnerInterfaceCandidateChangelogResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PartnerInterfaceCandidateChangelogResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true,
        "x-eventcatalog-deprecated-message": "This is legacy endpoint that'll be removed. Use v3/candidates/changelog endpoint instead.\n\nRecommended replacement: **v3/candidates/changelog**",
        "x-eventcatalog-deprecated-date": "2026-04-19"
      }
    },
    "/temp-staffing-de/v1/candidates/{id}/assign-applicant": {
      "post": {
        "tags": [
          "Candidates"
        ],
        "summary": "Assign applicant to candidate by setting the guid",
        "description": "This is legacy endpoint that'll be removed. Use v5.0/candidates/{id}/assign-applicant endpoint instead.\n\nDeprecation date: 10.10.2026\n\nRecommended replacement: v5/candidates/{id}/assign-applicant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateGuidRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateGuidRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateGuidRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateGuidRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": true,
        "x-eventcatalog-deprecated-message": "This is legacy endpoint that'll be removed. Use v5.0/candidates/{id}/assign-applicant endpoint instead.\n\nRecommended replacement: **v5/candidates/{id}/assign-applicant**",
        "x-eventcatalog-deprecated-date": "2026-10-10"
      }
    },
    "/temp-staffing-de/v2/candidates/{id}": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get candidate by id",
        "description": "This endpoint is deprecated and will be removed. Use v3/candidates/{id} instead.\n\nDeprecation date: 30.06.2026\n\nRecommended replacement: v3/candidates/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateDetailsV2Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateDetailsV2Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateDetailsV2Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true,
        "x-eventcatalog-deprecated-message": "This endpoint is deprecated and will be removed. Use v3/candidates/{id} instead.\n\nRecommended replacement: **v3/candidates/{id}**",
        "x-eventcatalog-deprecated-date": "2026-06-30"
      },
      "put": {
        "tags": [
          "Candidates"
        ],
        "summary": "Update candidate by id",
        "description": "This endpoint is deprecated and will be removed. Use v5/candidates/{id} PUT instead.\n\nDeprecation date: 30.09.2026\n\nRecommended replacement: v5/candidates/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateV2Request"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateV2Request"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateV2Request"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateV2Request"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true,
        "x-eventcatalog-deprecated-message": "This endpoint is deprecated and will be removed. Use v5/candidates/{id} PUT instead.\n\nRecommended replacement: **v5/candidates/{id}**",
        "x-eventcatalog-deprecated-date": "2026-09-30"
      }
    },
    "/temp-staffing-de/v2/candidates": {
      "post": {
        "tags": [
          "Candidates"
        ],
        "summary": "Create a candidate",
        "parameters": [
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCandidateV2Request"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCandidateV2Request"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCandidateV2Request"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCandidateV2Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedIdResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedIdResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedIdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/temp-staffing-de/v2/candidates/{candidateId}/documents": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get documents for a candidate by id",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CreatedFrom",
            "in": "query",
            "description": "The earliest creation date for which to retrieve candidate documents",
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2023-01-01T08:30:00"
              ]
            },
            "examples": {
              "default": {
                "value": "2023-01-01T08:30:00"
              }
            }
          },
          {
            "name": "CreatedTo",
            "in": "query",
            "description": "The latest creation date up to which documents should be retrieved",
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2025-12-31T23:59:59"
              ]
            },
            "examples": {
              "default": {
                "value": "2025-12-31T23:59:59"
              }
            }
          },
          {
            "name": "FileType",
            "in": "query",
            "description": "Filter by document type. When omitted all types are returned (File, Scan, Archive, Document).",
            "schema": {
              "$ref": "#/components/schemas/DocumentContentType"
            },
            "examples": {
              "default": {
                "value": "File"
              }
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateDocumentsResponsePagedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateDocumentsResponsePagedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateDocumentsResponsePagedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/temp-staffing-de/v2/candidates/changelog": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get candidate changelog",
        "description": "Returns changelog entries for candidates. Supports incremental sync (lastId), date-based filtering (from/to), or both (intersection). For date range, to can only be used with from. Optionally filter by candidate ids. Use OnlyLatestPerCandidate to return only the latest change per candidate.",
        "parameters": [
          {
            "name": "From",
            "in": "query",
            "description": "Earliest date of changelog entries",
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2024-01-01"
              ]
            },
            "examples": {
              "default": {
                "value": "2024-01-01"
              }
            }
          },
          {
            "name": "To",
            "in": "query",
            "description": "Latest date of changelog entries",
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2024-12-31"
              ]
            },
            "examples": {
              "default": {
                "value": "2024-12-31"
              }
            }
          },
          {
            "name": "OnlyLatestPerCandidate",
            "in": "query",
            "description": "If true, only return the latest changelog entry per candidate; otherwise, return all changelog entries",
            "schema": {
              "type": "boolean",
              "examples": [
                true
              ]
            },
            "examples": {
              "default": {
                "value": true
              }
            }
          },
          {
            "name": "CandidateIds",
            "in": "query",
            "description": "The candidate ids for which to return changelog entries; if not set, return entries for all candidates",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "examples": [
                [
                  1,
                  2,
                  3
                ]
              ]
            },
            "examples": {
              "default": {
                "value": [
                  1,
                  2,
                  3
                ]
              }
            }
          },
          {
            "name": "LastId",
            "in": "query",
            "description": "Return changelog entries with Id greater than this value (for incremental sync)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                1000
              ]
            },
            "examples": {
              "default": {
                "value": 1000
              }
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Max pageSize = 20.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                10
              ]
            },
            "examples": {
              "default": {
                "value": 10
              }
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateChangelogV2ResponsePagedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateChangelogV2ResponsePagedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateChangelogV2ResponsePagedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "deprecated": true,
        "x-eventcatalog-deprecated-message": "This endpoint with DbChangelog.Id in the response model is deprecated. Use v3/candidates/changelog instead.\n\nRecommended replacement: **v3/candidates/changelog**",
        "x-eventcatalog-deprecated-date": "2026-05-19"
      }
    },
    "/temp-staffing-de/v3/candidates/changelog": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get candidate changelog",
        "description": "Returns changelog entries for candidates. Supports incremental sync (lastId), date-based filtering (from/to), or both (intersection). For date range, to can only be used with from. Optionally filter by candidate ids. Use OnlyLatestPerCandidate to return only the latest change per candidate.",
        "parameters": [
          {
            "name": "From",
            "in": "query",
            "description": "Earliest date of changelog entries.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2024-01-01"
              ]
            },
            "examples": {
              "default": {
                "value": "2024-01-01"
              }
            }
          },
          {
            "name": "To",
            "in": "query",
            "description": "Latest date of changelog entries.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2024-12-31"
              ]
            },
            "examples": {
              "default": {
                "value": "2024-12-31"
              }
            }
          },
          {
            "name": "OnlyLatestPerCandidate",
            "in": "query",
            "description": "If true, only return the latest changelog entry per candidate; otherwise, return all changelog entries.",
            "schema": {
              "type": "boolean",
              "examples": [
                true
              ]
            },
            "examples": {
              "default": {
                "value": true
              }
            }
          },
          {
            "name": "CandidateIds",
            "in": "query",
            "description": "The candidate ids for which to return changelog entries; if not set, return entries for all candidates.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "examples": [
                [
                  1,
                  2,
                  3
                ]
              ]
            },
            "examples": {
              "default": {
                "value": [
                  1,
                  2,
                  3
                ]
              }
            }
          },
          {
            "name": "LastId",
            "in": "query",
            "description": "Return changelog entries with Id greater than this value (for incremental sync).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                1000
              ]
            },
            "examples": {
              "default": {
                "value": 1000
              }
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Max pageSize = 20.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                10
              ]
            },
            "examples": {
              "default": {
                "value": 10
              }
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateChangelogV3ResponsePagedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateChangelogV3ResponsePagedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateChangelogV3ResponsePagedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/temp-staffing-de/v3/candidates/{id}": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get candidate by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateDetailsV3Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateDetailsV3Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateDetailsV3Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "Candidates"
        ],
        "summary": "Update candidate by id",
        "description": "This endpoint is deprecated and will be removed. Use v5/candidates/{id} PUT instead, which adds ID document, career history, and remaining fields.\n\nDeprecation date: 30.11.2026\n\nRecommended replacement: v5/candidates/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateV3Request"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateV3Request"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateV3Request"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateV3Request"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-eventcatalog-deprecated-message": "This endpoint is deprecated and will be removed. Use v5/candidates/{id} PUT instead, which adds ID document, career history, and remaining fields.\n\nRecommended replacement: **v5/candidates/{id}**",
        "x-eventcatalog-deprecated-date": "2026-11-30"
      }
    },
    "/temp-staffing-de/v3/candidates/{id}/previous-employments": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get previous employments for candidate by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "From",
            "in": "query",
            "description": "Earliest start date of previous employments",
            "schema": {
              "type": "string",
              "format": "date",
              "examples": [
                "2024-01-15"
              ]
            },
            "examples": {
              "default": {
                "value": "2024-01-15"
              }
            }
          },
          {
            "name": "To",
            "in": "query",
            "description": "Latest end date of previous employments",
            "schema": {
              "type": "string",
              "format": "date",
              "examples": [
                "2024-06-30"
              ]
            },
            "examples": {
              "default": {
                "value": "2024-06-30"
              }
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PreviousEmploymentResponsePagedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviousEmploymentResponsePagedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviousEmploymentResponsePagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/temp-staffing-de/v3/candidates/{id}/social-insurance-data": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get social insurance data for candidate by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SocialInsuranceDataResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialInsuranceDataResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialInsuranceDataResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Candidates"
        ],
        "summary": "Update social insurance data for candidate by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateSocialInsuranceDataRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateSocialInsuranceDataRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateSocialInsuranceDataRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateSocialInsuranceDataRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/temp-staffing-de/v4/candidates/{id}/profile-picture": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Get candidate profile picture metadata",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Candidate ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateProfilePictureResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateProfilePictureResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateProfilePictureResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Candidates"
        ],
        "summary": "Upload or replace candidate profile picture",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Candidate ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "File"
                ],
                "type": "object",
                "properties": {
                  "CandidateId": {
                    "type": "integer",
                    "description": "Candidate ID (set from route).",
                    "format": "int32"
                  },
                  "File": {
                    "type": "string",
                    "description": "The profile picture file. Only JPEG is accepted (Content-Type `image/jpeg`,\nextension `.jpg` or `.jpeg`). Maximum size: 5 MB.",
                    "contentMediaType": "application/octet-stream"
                  },
                  "Operator": {
                    "type": "string",
                    "description": "Optional operator name. Defaults to \"SYS\" if not provided."
                  }
                }
              },
              "encoding": {
                "CandidateId": {
                  "style": "form"
                },
                "File": {
                  "style": "form"
                },
                "Operator": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateProfilePictureResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateProfilePictureResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateProfilePictureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Candidates"
        ],
        "summary": "Delete candidate profile picture",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Candidate ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-MANDANT-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
[...]
