openapi: 3.0.4
info:
  title: Temp staffing germany
  description: "\nThis is the API documentation of Temp Staffing Germany. It provides endpoints for accessing and managing resources related to Candidates, Employees, Companies, Time Management, and more.\n\n#### Authentication\n\n- **OAuth2**: Used for server-to-server authentication. Requires providing relevant scope to be embedded in the access token. All calls using client-credentials flow need to send an additional X-CUSTOMER-ID.\n- **Reference Key**: Used by TSA partners to develop solutions against an individual customer. Can be revoked anytime via the [zvoove Hub](https://hub.zvoove.cloud/).\n\n#### Scopes Information\n\n| Scope         | Description                                                   |\n| ------------- | -------------                                                 |\n| api_gateway                 | Provides access to API Gateway endpoints        |\n| api_gateway:all_customers   | Provides access to all customers                |\n| unity_access:all            | Provides access to ErpDeApi service endpoints |"
  version: v1
servers:
  - url: https://api.zvoove.cloud
    description: Production environment
paths:
  /temp-staffing-de/v1/absences/types:
    get:
      tags:
        - Absences
      summary: Get all absences types
      parameters:
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AbsenceResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AbsenceResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AbsenceResponse'
        '401':
          description: Unauthorized
  /temp-staffing-de/v1/articles/groups:
    get:
      tags:
        - Articles
      summary: Get all article groups
      parameters:
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArticleGroupResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArticleGroupResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArticleGroupResponse'
        '401':
          description: Unauthorized
  '/temp-staffing-de/v1/candidates/{candidateId}/contacts':
    get:
      tags:
        - Candidate Contacts
      summary: Get all candidate contacts by candidate id
      parameters:
        - name: candidateId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateContactResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateContactResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateContactResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    post:
      tags:
        - Candidate Contacts
      summary: Create candidate contacts
      description: Returns created candidate contacts ids
      parameters:
        - name: candidateId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateCandidateContactsRequest'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateCandidateContactsRequest'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateCandidateContactsRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateCandidateContactsRequest'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
            text/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    put:
      tags:
        - Candidate Contacts
      summary: Update candidate contacts
      parameters:
        - name: candidateId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateCandidateContactRequest'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateCandidateContactRequest'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateCandidateContactRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateCandidateContactRequest'
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  '/temp-staffing-de/v1/candidates/{candidateId}/contacts/{contactId}':
    get:
      tags:
        - Candidate Contacts
      summary: Get candidate contact details by candidate id and contact id
      parameters:
        - name: candidateId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CandidateContactResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateContactResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CandidateContactResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  '/temp-staffing-de/v1/candidates/{candidateId}/contacts/overview':
    get:
      tags:
        - Candidate Contacts
      summary: Get candidate contacts overview by candidate id
      parameters:
        - name: candidateId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateContactsOverviewResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateContactsOverviewResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateContactsOverviewResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  '/temp-staffing-de/v1/candidates/contacts/changelog/{lastId}':
    get:
      tags:
        - Candidate Contacts
      summary: Get candidate contacts changelog by last id
      parameters:
        - name: lastId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PartnerInterfaceCandidateContactChangelogResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PartnerInterfaceCandidateContactChangelogResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PartnerInterfaceCandidateContactChangelogResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  '/temp-staffing-de/v1/candidates/{candidateId}/contacts/files':
    get:
      tags:
        - Candidate Contacts
      summary: Get candidate contacts files
      parameters:
        - name: candidateId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateContactFileResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateContactFileResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateContactFileResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    post:
      tags:
        - Candidate Contacts
      summary: Create candidate contact files
      description: Returns created candidate contact id containing the files
      parameters:
        - name: candidateId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateCandidateContactsFilesRequest'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateCandidateContactsFilesRequest'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateCandidateContactsFilesRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateCandidateContactsFilesRequest'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: integer
                format: int32
                nullable: true
            application/json:
              schema:
                type: integer
                format: int32
                nullable: true
            text/json:
              schema:
                type: integer
                format: int32
                nullable: true
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  /temp-staffing-de/v1/candidates:
    get:
      tags:
        - Candidates
      summary: Get all candidates
      parameters:
        - name: WithoutCandidateGuid
          in: query
          schema:
            type: boolean
        - name: CreatedAfter
          in: query
          schema:
            type: string
            format: date
            nullable: true
            example: '2024-10-17'
          example: '2024-10-17'
        - name: OfficeIds
          in: query
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int32
            example:
              - 1
              - 2
              - 3
          example:
            - 1
            - 2
            - 3
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateListResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateListResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateListResponse'
        '401':
          description: Unauthorized
    post:
      tags:
        - Candidates
      summary: Create candidate
      description: "This is legacy endpoint that'll be removed. Use v2/candidates endpoint instead.\n\nDeprecation date: 12.03.2026\n\nRecommended replacement: v2/candidates"
      parameters:
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCandidateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCandidateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCandidateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCandidateRequest'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CandidateResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CandidateResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      deprecated: true
      x-eventcatalog-deprecated-message: "This is legacy endpoint that'll be removed. Use v2/candidates endpoint instead.\n\nRecommended replacement: **v2/candidates**"
      x-eventcatalog-deprecated-date: '2026-03-12'
  '/temp-staffing-de/v1/candidates/{id}':
    put:
      tags:
        - Candidates
      summary: Update candidate by id
      description: "This is legacy endpoint that'll be removed. Use v2/candidates endpoint instead.\n\nDeprecation date: 12.03.2026\n\nRecommended replacement: v2/candidates/{id}"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCandidateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCandidateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCandidateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCandidateRequest'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CandidateResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CandidateResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      deprecated: true
      x-eventcatalog-deprecated-message: "This is legacy endpoint that'll be removed. Use v2/candidates endpoint instead.\n\nRecommended replacement: **v2/candidates/{id}**"
      x-eventcatalog-deprecated-date: '2026-03-12'
    get:
      tags:
        - Candidates
      summary: Get candidate by id
      description: "This is legacy endpoint that'll be removed. Use v2/candidates/{id} endpoint instead.\n\nDeprecation date: 12.03.2026\n\nRecommended replacement: v2/candidates/{id}"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CandidateResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CandidateResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      deprecated: true
      x-eventcatalog-deprecated-message: "This is legacy endpoint that'll be removed. Use v2/candidates/{id} endpoint instead.\n\nRecommended replacement: **v2/candidates/{id}**"
      x-eventcatalog-deprecated-date: '2026-03-12'
  '/temp-staffing-de/v1/candidates/{candidateId}/files':
    get:
      tags:
        - Candidates
      summary: Get candidate files by id
      parameters:
        - name: candidateId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateFileResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateFileResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateFileResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  '/temp-staffing-de/v1/candidates/{candidateId}/scans':
    get:
      tags:
        - Candidates
      summary: Get candidate scans by id
      parameters:
        - name: candidateId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateScansResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateScansResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateScansResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  '/temp-staffing-de/v1/candidates/{candidateId}/drivers-licenses':
    get:
      tags:
        - Candidates
      summary: Get all driver's licenses for a candidate
      parameters:
        - name: candidateId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CandidateDriversLicenseResponsePagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateDriversLicenseResponsePagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CandidateDriversLicenseResponsePagedResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  /temp-staffing-de/v1/candidates/changelog:
    get:
      tags:
        - Candidates
      summary: Get candidate changelog
      description: "This is legacy endpoint that'll be removed. Use v2/candidates/changelog endpoint instead.\n\nDeprecation date: 19.04.2026\n\nRecommended replacement: v2/candidates/changelog"
      parameters:
        - name: From
          in: query
          description: Earliest date of changelog entries
          required: true
          schema:
            type: string
            format: date-time
        - name: To
          in: query
          description: Latest date of changelog entries
          schema:
            type: string
            format: date-time
        - name: OnlyLatestPerCandidate
          in: query
          description: 'if true, only return the latest changelog entry per candidate; otherwise, return all changelog entries'
          schema:
            type: boolean
        - name: CandidateIds
          in: query
          description: 'The candidate ids for which to return changelog entries; if not set, return entries for all candidates'
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: LastId
          in: query
          description: Return changelog entries with Id greater than this value (for incremental sync)
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          description: On-Prem max pageSize = 10. On-Saas max pageSize = 20.
          schema:
            type: integer
            format: int32
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CandidateChangelogResponsePagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateChangelogResponsePagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CandidateChangelogResponsePagedResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '400':
          description: Bad Request
      deprecated: true
      x-eventcatalog-deprecated-message: "This is legacy endpoint that'll be removed. Use v2/candidates/changelog endpoint instead.\n\nRecommended replacement: **v2/candidates/changelog**"
      x-eventcatalog-deprecated-date: '2026-04-19'
  '/temp-staffing-de/v1/candidates/changelog/{lastId}':
    get:
      tags:
        - Candidates
      summary: Get candidate changelog by last id
      description: "This is legacy endpoint that'll be removed. Use v2/candidates/changelog endpoint instead.\n\nDeprecation date: 19.04.2026\n\nRecommended replacement: v2/candidates/changelog"
      parameters:
        - name: lastId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PartnerInterfaceCandidateChangelogResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PartnerInterfaceCandidateChangelogResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PartnerInterfaceCandidateChangelogResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      deprecated: true
      x-eventcatalog-deprecated-message: "This is legacy endpoint that'll be removed. Use v2/candidates/changelog endpoint instead.\n\nRecommended replacement: **v2/candidates/changelog**"
      x-eventcatalog-deprecated-date: '2026-04-19'
  '/temp-staffing-de/v1/candidates/{id}/assign-applicant':
    post:
      tags:
        - Candidates
      summary: Assign applicant to candidate by setting the guid
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCandidateGuidRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCandidateGuidRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCandidateGuidRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCandidateGuidRequest'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
  '/temp-staffing-de/v2/candidates/{id}':
    get:
      tags:
        - Candidates
      summary: Get candidate by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CandidateDetailsV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateDetailsV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CandidateDetailsV2Response'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    put:
      tags:
        - Candidates
      summary: Update candidate by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCandidateV2Request'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCandidateV2Request'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCandidateV2Request'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCandidateV2Request'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '401':
          description: Unauthorized
  /temp-staffing-de/v2/candidates:
    post:
      tags:
        - Candidates
      summary: Create a candidate
      parameters:
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCandidateV2Request'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCandidateV2Request'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCandidateV2Request'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCandidateV2Request'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CandidateV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CandidateV2Response'
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '401':
          description: Unauthorized
  /temp-staffing-de/v2/candidates/changelog:
    get:
      tags:
        - Candidates
      summary: Get candidate changelog
      description: 'Returns changelog entries for candidates. Use either incremental sync (lastId) OR date-based filtering (from/to), not both.'
      parameters:
        - name: From
          in: query
          description: Earliest date of changelog entries
          schema:
            type: string
            description: Earliest date of changelog entries
            format: date-time
            nullable: true
            example: '2024-01-01'
          example: '2024-01-01'
        - name: To
          in: query
          description: Latest date of changelog entries
          schema:
            type: string
            description: Latest date of changelog entries
            format: date-time
            nullable: true
            example: '2024-12-31'
          example: '2024-12-31'
        - name: OnlyLatestPerCandidate
          in: query
          description: 'If true, only return the latest changelog entry per candidate; otherwise, return all changelog entries'
          schema:
            type: boolean
            description: 'If true, only return the latest changelog entry per candidate; otherwise, return all changelog entries'
            nullable: true
            example: true
          example: true
        - name: CandidateIds
          in: query
          description: 'The candidate ids for which to return changelog entries; if not set, return entries for all candidates'
          schema:
            type: array
            items:
              type: integer
              format: int32
            description: 'The candidate ids for which to return changelog entries; if not set, return entries for all candidates'
            nullable: true
            example:
              - 1
              - 2
              - 3
          example:
            - 1
            - 2
            - 3
        - name: LastId
          in: query
          description: Return changelog entries with Id greater than this value (for incremental sync)
          schema:
            type: integer
            description: Return changelog entries with Id greater than this value (for incremental sync)
            format: int32
            nullable: true
            example: 1000
          example: 1000
        - name: PageSize
          in: query
          description: Max pageSize = 20.
          schema:
            type: integer
            description: The page size
            format: int32
            example: 10
          example: 10
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CandidateChangelogResponsePagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateChangelogResponsePagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CandidateChangelogResponsePagedResponse'
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
  /temp-staffing-de/v1/companies:
    get:
      tags:
        - Companies
      summary: Get all companies
      description: "This is a legacy endpoint that'll be removed.\n\nDeprecation date: 30.04.2026\n\nRecommended replacement: v2/companies"
      parameters:
        - name: status
          in: query
          schema:
            enum:
              - InterestedCustomer
              - ActiveCustomer
              - FormerCustomer
              - CustomerBranch
              - NotUsed
              - CompletedInterestedCustomer
              - AddressPool
              - OtherAddresses
              - Supplier
            type: string
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyResponse'
        '401':
          description: Unauthorized
      deprecated: true
      x-eventcatalog-deprecated-message: "This is a legacy endpoint that'll be removed.\n\nRecommended replacement: **v2/companies**"
      x-eventcatalog-deprecated-date: '2026-04-30'
    post:
      tags:
        - Companies
      summary: Create company
      parameters:
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCompanyRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCompanyRequest'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
  '/temp-staffing-de/v1/companies/{id}':
    get:
      tags:
        - Companies
      summary: Get company by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDetailsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyDetailsResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    put:
      tags:
        - Companies
      summary: Update company by id
      description: "This is legacy endpoint that'll be removed. Use v2/companies endpoint instead.\n\nDeprecation date: 31.03.2026\n\nRecommended replacement: v2/companies"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyRequest'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      deprecated: true
      x-eventcatalog-deprecated-message: "This is legacy endpoint that'll be removed. Use v2/companies endpoint instead.\n\nRecommended replacement: **v2/companies**"
      x-eventcatalog-deprecated-date: '2026-03-31'
    patch:
      tags:
        - Companies
      summary: Partially update company by id
      description: "This is legacy endpoint that'll be removed. Use v2/companies endpoint instead.\n\nDeprecation date: 31.03.2026\n\nRecommended replacement: v2/companies"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      deprecated: true
      x-eventcatalog-deprecated-message: "This is legacy endpoint that'll be removed. Use v2/companies endpoint instead.\n\nRecommended replacement: **v2/companies**"
      x-eventcatalog-deprecated-date: '2026-03-31'
  '/temp-staffing-de/v1/companies/{id}/assignments':
    get:
      tags:
        - Companies
      summary: Get company assignments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: StartDate
          in: query
          description: Date in format yyyy-MM-dd
          required: true
          schema:
            type: string
            description: 'Use recommended DateTime formats: ''yyyy-MM-dd HH:mm:ss'', ''yyyy-MM-dd HH:mm:ssZ'', ''yyyy-MM-ddTHH:mm:ss'', ''yyyy-MM-ddTHH:mm:ssZ'', ''yyyy-MM-ddTHH:mm:ss.fffffffZ'', ''yyyy-MM-ddTHH:mm:ss.fffffff'', ''yyyy-MM-dd HH:mm:ss.fffffffZ'', ''yyyy-MM-dd HH:mm:ss.fffffff'''
            format: date-time
            example: '2024-11-01'
          example: '2024-11-01'
        - name: EndDate
          in: query
          description: Date in format yyyy-MM-dd
          required: true
          schema:
            type: string
            description: 'Use recommended DateTime formats: ''yyyy-MM-dd HH:mm:ss'', ''yyyy-MM-dd HH:mm:ssZ'', ''yyyy-MM-ddTHH:mm:ss'', ''yyyy-MM-ddTHH:mm:ssZ'', ''yyyy-MM-ddTHH:mm:ss.fffffffZ'', ''yyyy-MM-ddTHH:mm:ss.fffffff'', ''yyyy-MM-dd HH:mm:ss.fffffffZ'', ''yyyy-MM-dd HH:mm:ss.fffffff'''
            format: date-time
            example: '2024-11-01'
          example: '2024-11-01'
        - name: contractId
          in: query
          schema:
            type: integer
            format: int32
            example: 12345
          example: 12345
        - name: personalId
          in: query
          schema:
            type: integer
            format: int32
            example: 12345
          example: 12345
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssignmentResponse_Deprecated'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssignmentResponse_Deprecated'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssignmentResponse_Deprecated'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  /temp-staffing-de/v1/companies/foreign-ids:
    put:
      tags:
        - Companies
      summary: Import companies foreign ids
      parameters:
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyForeignIdsRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyForeignIdsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyForeignIdsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyForeignIdsRequest'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyForeignId'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyForeignId'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyForeignId'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
        '401':
          description: Unauthorized
  '/temp-staffing-de/v1/companies/{id}/files':
    get:
      tags:
        - Companies
      summary: Returns company files
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            example: 12345
          example: 12345
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFileResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFileResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFileResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
        '401':
          description: Unauthorized
  '/temp-staffing-de/v1/companies/{id}/scans':
    get:
      tags:
        - Companies
      summary: Returns company scans
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            example: 12345
          example: 12345
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyScansResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyScansResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyScansResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
        '401':
          description: Unauthorized
  /temp-staffing-de/v1/companies/changelog:
    get:
      tags:
        - Companies
      summary: Get customer changelogs
      parameters:
        - name: From
          in: query
          description: Oldest changelog date limit (no older than)
          schema:
            type: string
            format: date-time
            example: '2021-09-01T00:00:00'
          example: '2021-09-01T00:00:00'
        - name: To
          in: query
          description: Latest changelog date limit (at least as old)
          schema:
            type: string
            format: date-time
            example: '2021-09-01T00:00:00'
          example: '2021-09-01T00:00:00'
        - name: OnlyLatestPerCustomer
          in: query
          description: 'if true, return only the latest change per modified customer'
          schema:
            type: boolean
        - name: CustomerIds
          in: query
          description: Optional customer ids filter to include only changelog for provided ids
          schema:
            type: array
            items:
              type: integer
              format: int32
            example:
              - 1
              - 2
              - 3
          example:
            - 1
            - 2
            - 3
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerChangelogResponsePagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerChangelogResponsePagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerChangelogResponsePagedResponse'
        '401':
          description: Unauthorized
  '/temp-staffing-de/v1/companies/{id}/deployment-places':
    get:
      tags:
        - Companies
      summary: Get all deployment places for a company
      parameters:
        - name: id
          in: path
          description: The company/customer ID.
          required: true
          schema:
            type: integer
            format: int32
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DeploymentPlaceResponsePagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentPlaceResponsePagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DeploymentPlaceResponsePagedResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    post:
      tags:
        - Companies
      summary: Create a new deployment place for a company
      parameters:
        - name: id
          in: path
          description: The company/customer ID.
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        description: The deployment place details.
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentPlaceRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentPlaceRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentPlaceRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentPlaceRequest'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreateDeploymentPlaceResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDeploymentPlaceResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreateDeploymentPlaceResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
  /temp-staffing-de/v2/companies:
    get:
      tags:
        - Companies
      summary: Get all companies overview
      parameters:
        - name: OfficeIds
          in: query
          description: List of office IDs to filter the companies by.
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: Status
          in: query
          description: Status of the companies to filter by.
          schema:
            enum:
              - InterestedCustomer
              - ActiveCustomer
              - InactiveCustomer
              - Supplier
            type: string
        - name: Active
          in: query
          description: Is customer active or inactive. If not provided both active and inactive customers will be returned.
          schema:
            type: boolean
        - name: Name
          in: query
          description: "Search term to filter the companies by name. This is a partial match aka. Containes.\nSo \"Tree\" will match \"Super Tree GmbH\".\nCase insensitive."
          schema:
            maxLength: 30
            type: string
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyOverviewResponsePagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyOverviewResponsePagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyOverviewResponsePagedResponse'
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
  '/temp-staffing-de/v2/companies/{id}/shadow-accounting/wage-types':
    get:
      tags:
        - Companies
      summary: Get wage types for a customer
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerWageTypeResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerWageTypeResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerWageTypeResponse'
        '401':
          description: Unauthorized
  '/temp-staffing-de/v2/companies/{id}':
    patch:
      tags:
        - Companies
      summary: Partially update company by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyIdResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyIdResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyIdResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    put:
      tags:
        - Companies
      summary: Update company by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyV2Request'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyV2Request'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyV2Request'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyV2Request'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDetailsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyDetailsResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  '/temp-staffing-de/v1/companies/{companyId}/business-representatives':
    get:
      tags:
        - Company Business Representatives
      summary: Get all company business representatives contacts
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
        '401':
          description: Unauthorized
    post:
      tags:
        - Company Business Representatives
      summary: Create company business representatives contact
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCompanyBusinessRepresentativeRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyBusinessRepresentativeRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyBusinessRepresentativeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCompanyBusinessRepresentativeRequest'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
  '/temp-staffing-de/v1/companies/{companyId}/business-representatives/{id}':
    get:
      tags:
        - Company Business Representatives
      summary: Get company business representatives contact by id
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    put:
      tags:
        - Company Business Representatives
      summary: Update company business representatives contact by id
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyBusinessRepresentativeRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyBusinessRepresentativeRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyBusinessRepresentativeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyBusinessRepresentativeRequest'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    patch:
      tags:
        - Company Business Representatives
      summary: Partially update business representatives company contact by id
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  /temp-staffing-de/v1/companies/business-representatives/changelog:
    get:
      tags:
        - Company Business Representatives
      summary: Get customer business representative changelogs
      parameters:
        - name: From
          in: query
          description: Oldest changelog date limit (no older than)
          required: true
          schema:
            type: string
            format: date-time
            example: '2021-09-01T00:00:00'
          example: '2021-09-01T00:00:00'
        - name: To
          in: query
          description: Latest changelog date limit (at least as old)
          schema:
            type: string
            format: date-time
            example: '2021-09-01T00:00:00'
          example: '2021-09-01T00:00:00'
        - name: OnlyLatestPerCustomerBusinessRepresentative
          in: query
          description: 'if true, return only the latest change per modified customer business representative'
          schema:
            type: boolean
        - name: CustomerIds
          in: query
          description: Optional customer ids filter to include only changelog for provided customers
          schema:
            type: array
            items:
              type: integer
              format: int32
            example:
              - 1
              - 2
              - 3
          example:
            - 1
            - 2
            - 3
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerBusinessRepresentativeChangelogResponsePagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerBusinessRepresentativeChangelogResponsePagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerBusinessRepresentativeChangelogResponsePagedResponse'
        '401':
          description: Unauthorized
  '/temp-staffing-de/v1/companies/{companyId}/contacts':
    get:
      tags:
        - Company Business Representatives
      summary: Get all company business representatives contacts
      description: "This is legacy endpoint that'll be removed. Use api/v1/companies/companyId/business-representatives endpoint instead.\n\nDeprecation date: 31.03.2026\n\nRecommended replacement: api/v1/companies/{companyId}/business-representatives"
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
        '401':
          description: Unauthorized
      deprecated: true
      x-eventcatalog-deprecated-message: "This is legacy endpoint that'll be removed. Use api/v1/companies/companyId/business-representatives endpoint instead.\n\nRecommended replacement: **api/v1/companies/{companyId}/business-representatives**"
      x-eventcatalog-deprecated-date: '2026-03-31'
    post:
      tags:
        - Company Business Representatives
      summary: Create company business representatives contact
      description: "This is legacy endpoint that'll be removed. Use api/v1/companies/companyId/business-representatives endpoint instead.\n\nDeprecation date: 31.03.2026\n\nRecommended replacement: api/v1/companies/{companyId}/business-representatives"
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCompanyBusinessRepresentativeRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyBusinessRepresentativeRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyBusinessRepresentativeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCompanyBusinessRepresentativeRequest'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
      deprecated: true
      x-eventcatalog-deprecated-message: "This is legacy endpoint that'll be removed. Use api/v1/companies/companyId/business-representatives endpoint instead.\n\nRecommended replacement: **api/v1/companies/{companyId}/business-representatives**"
      x-eventcatalog-deprecated-date: '2026-03-31'
  '/temp-staffing-de/v1/companies/{companyId}/contacts/{id}':
    get:
      tags:
        - Company Business Representatives
      summary: Get company business representatives contact by id
      description: "This is legacy endpoint that'll be removed. Use api/v1/companies/companyId/business-representatives endpoint instead.\n\nDeprecation date: 31.03.2026\n\nRecommended replacement: api/v1/companies/{companyId}/business-representatives"
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyBusinessRepresentativeResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      deprecated: true
      x-eventcatalog-deprecated-message: "This is legacy endpoint that'll be removed. Use api/v1/companies/companyId/business-representatives endpoint instead.\n\nRecommended replacement: **api/v1/companies/{companyId}/business-representatives**"
      x-eventcatalog-deprecated-date: '2026-03-31'
    put:
      tags:
        - Company Business Representatives
      summary: Update company business representatives contact by id
      description: "This is legacy endpoint that'll be removed. Use api/v1/companies/companyId/business-representatives endpoint instead.\n\nDeprecation date: 31.03.2026\n\nRecommended replacement: api/v1/companies/{companyId}/business-representatives"
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyBusinessRepresentativeRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyBusinessRepresentativeRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyBusinessRepresentativeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyBusinessRepresentativeRequest'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      deprecated: true
      x-eventcatalog-deprecated-message: "This is legacy endpoint that'll be removed. Use api/v1/companies/companyId/business-representatives endpoint instead.\n\nRecommended replacement: **api/v1/companies/{companyId}/business-representatives**"
      x-eventcatalog-deprecated-date: '2026-03-31'
    patch:
      tags:
        - Company Business Representatives
      summary: Partially update business representatives company contact by id
      description: "This is legacy endpoint that'll be removed. Use api/v1/companies/companyId/business-representatives endpoint instead.\n\nDeprecation date: 31.03.2026\n\nRecommended replacement: api/v1/companies/{companyId}/business-representatives"
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      deprecated: true
      x-eventcatalog-deprecated-message: "This is legacy endpoint that'll be removed. Use api/v1/companies/companyId/business-representatives endpoint instead.\n\nRecommended replacement: **api/v1/companies/{companyId}/business-representatives**"
      x-eventcatalog-deprecated-date: '2026-03-31'
  /temp-staffing-de/v1/companies/contacts/changelog:
    get:
      tags:
        - Company Contacts
      summary: Get customer contact changelogs
      parameters:
        - name: From
          in: query
          description: Oldest changelog date limit (no older than)
          required: true
          schema:
            type: string
            format: date-time
            example: '2021-09-01T00:00:00'
          example: '2021-09-01T00:00:00'
        - name: To
          in: query
          description: Latest changelog date limit (at least as old)
          schema:
            type: string
            format: date-time
            example: '2021-09-01T00:00:00'
          example: '2021-09-01T00:00:00'
        - name: OnlyLatestPerCustomerContact
          in: query
          description: 'if true, return only the latest change per modified customer contact'
          schema:
            type: boolean
        - name: CustomerIds
          in: query
          description: Optional customer ids filter to include only changelog for provided customers
          schema:
            type: array
            items:
              type: integer
              format: int32
            example:
              - 1
              - 2
              - 3
          example:
            - 1
            - 2
            - 3
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerContactChangelogResponsePagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerContactChangelogResponsePagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerContactChangelogResponsePagedResponse'
        '401':
          description: Unauthorized
  '/temp-staffing-de/v2/companies/{companyId}/contacts':
    get:
      tags:
        - Company Contacts
      summary: Get all contacts of a company
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyContactOverviewResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyContactOverviewResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyContactOverviewResponse'
        '401':
          description: Unauthorized
    post:
      tags:
        - Company Contacts
      summary: Create a new contact for a company
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCompanyContactRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyContactRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyContactRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCompanyContactRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyContactModifiedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyContactModifiedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyContactModifiedResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
  '/temp-staffing-de/v2/companies/{companyId}/contacts/{contactId}':
    get:
      tags:
        - Company Contacts
      summary: Get a single contact of a company by id
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyContactResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyContactResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyContactResponse'
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
    put:
      tags:
        - Company Contacts
      summary: Update a contact of a company
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyContactRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyContactRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyContactRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyContactRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyContactModifiedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyContactModifiedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyContactModifiedResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  /temp-staffing-de/v1/condition-tables/templates:
    get:
      tags:
        - Condition Tables
      summary: Get all condition table templates
      parameters:
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ConditionTableTemplatesOverviewResponsePagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionTableTemplatesOverviewResponsePagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ConditionTableTemplatesOverviewResponsePagedResponse'
  '/temp-staffing-de/v1/condition-tables/templates/table/{tableId}':
    get:
      tags:
        - Condition Tables
      summary: Get a condition table template by table ID
      parameters:
        - name: tableId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ConditionTableTemplateResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionTableTemplateResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ConditionTableTemplateResponse'
        '404':
          description: Not Found
  /temp-staffing-de/v1/condition-tables:
    get:
      tags:
        - Condition Tables
      summary: Get all condition tables
      parameters:
        - name: CustomerId
          in: query
          description: Filters the condition tables by customer ID.
          schema:
            type: integer
            format: int32
            example: 1000000
          example: 1000000
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ConditionTablesOverviewResponsePagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionTablesOverviewResponsePagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ConditionTablesOverviewResponsePagedResponse'
  '/temp-staffing-de/v1/condition-tables/customer/{customerId}/table/{tableId}':
    get:
      tags:
        - Condition Tables
      summary: Get a condition table by customer ID and table ID
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: tableId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ConditionTableResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionTableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ConditionTableResponse'
        '404':
          description: Not Found
  /temp-staffing-de/v1/contracts:
    get:
      tags:
        - Contracts
      summary: Get all contracts by office ids
      parameters:
        - name: OfficeIds
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
            example: 1
          example: 1
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContractResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContractResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContractResponse'
        '401':
          description: Unauthorized
  '/temp-staffing-de/v1/contracts/{id}':
    get:
      tags:
        - Contracts
      summary: Get contract by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContractResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ContractResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ContractResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  /temp-staffing-de/v1/partner/cost-centers:
    get:
      tags:
        - CostCenters
      summary: Get all cost centers
      parameters:
        - name: SearchTerm
          in: query
          description: Allows to search by name. Case-insensitive like search
          schema:
            type: string
            example: Main Office
          example: Main Office
        - name: Name
          in: query
          description: Allows to search by name. Case-insensitive like search
          schema:
            type: string
            example: Main Office
          example: Main Office
        - name: CostCenterId
          in: query
          description: Allows to search by cost center ID. Case-insensitive exact match
          schema:
            type: string
            example: '01004'
          example: '01004'
        - name: OfficeId
          in: query
          description: Allows to search by office ID. Case-insensitive exact match
          schema:
            type: string
            example: '01004'
          example: '01004'
        - name: CostCenter
          in: query
          description: Allows to search by Cost Center number. Case-insensitive exact match
          schema:
            type: string
            example: '01004'
          example: '01004'
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CostCentersResponsePagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersResponsePagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CostCentersResponsePagedResponse'
  /temp-staffing-de/v1/departments:
    get:
      tags:
        - Departments
      summary: 'Get all departments, optionally filtered by user id'
      parameters:
        - name: UserId
          in: query
          description: 'If specified, filters for departments of the user with this ID'
          schema:
            type: string
            format: uuid
        - name: Active
          in: query
          description: 'If specified, filters for active/inactive departments; otherwise no filter'
          schema:
            type: boolean
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DepartmentResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DepartmentResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DepartmentResponse'
        '401':
          description: Unauthorized
  '/temp-staffing-de/v1/departments/{id}':
    get:
      tags:
        - Departments
      summary: Get department by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DepartmentResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DepartmentResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  '/temp-staffing-de/v1/departments/{id}/users':
    get:
      tags:
        - Departments
      summary: Get users by department id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DepartmentUserResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DepartmentUserResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DepartmentUserResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  /temp-staffing-de/v1/partner/dispatchers:
    get:
      tags:
        - Dispatchers
      summary: Get all dispatchers
      parameters:
        - name: SearchTerm
          in: query
          description: Allows to search by name and id at the same time. Case-insensitive like search
          schema:
            type: string
            description: Allows to search by name and id at the same time. Case-insensitive like search
            nullable: true
            example: John
          example: John
        - name: Name
          in: query
          description: Allows to search by name. Case-insensitive like search
          schema:
            type: string
            description: Allows to search by name. Case-insensitive like search
            nullable: true
            example: John
          example: John
        - name: PageNumber
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: X-MANDANT-ID
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DispatchersResponsePagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchersResponsePagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DispatchersResponsePagedResponse'
        '401':
          description: Unauthorized
  '/temp-staffing-de/v1/documents/file/{fileId}/{fileDbId}/content':
    get:
      tags:
        - Documents
      summary: Get single file content by fileId and fileDbId
[...]
